@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: outfit;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

.rich-text h3 {
  font-size: 18;
  font-weight: 500;
  color: #333333
}

.rich-text {
  color: #333;
  /* Dark gray text */
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.rich-text h2 {
  font-size: 24px;
  font-weight: 500;
  color: #222;
  margin-top: 20px;
  margin-bottom: 10px;
}

.rich-text ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 15px;
}

.rich-text li {
  font-size: 18px;
  color: #252525;
  margin-bottom: 8px;
}

.rich-text p {
  font-size: 18px;
  color: #252525;
  margin-bottom: 15px;
}